<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="FriendOrganizer.DataAccess.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="DefaultConnection" connectionString="Server=.;Database=FriendOrganizerDb;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
 <applicationSettings>
  <FriendOrganizer.DataAccess.App>
   <setting name="DefaultConnection" serializeAs="String">
    <value>Server=.;Database=FriendOrganizerDb;Trusted_Connection=True;</value>
   </setting>
  </FriendOrganizer.DataAccess.App>
 </applicationSettings>
</configuration>